html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: '幼圆';
}

.fm-bg img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.header {
    text-align: center;
    color: white;
    padding: 20px;
}

.content {
    display: flex;
    margin-top: 20px;
}

.fontEnd, .tools, .study {
    width: 33%;
    text-align: center;
}

.list_Fe, .list_tls, .list_sty {
    padding: 5px 10px;
}

.listTitle {
    font-size: 23px;
    color: white;
    margin-bottom: 10px;
    padding-left: 5px;
}

.item1 {
    background: white;
    border-radius: 8px;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: white 2px solid;
    text-align: left;
    padding-left: 4%;
}

.item1 .bottom {
    text-align: left;
}

.list_Fe .item1 a {
    font-size: 12px;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 3%;
    transition-duration: 0.3s;
    display: inline-block;
}

.bottom a:nth-child(n-2) {
    background: #3a71df;;
}

.bottom a:nth-child(n+3) {
    background: #e74951;
}

.item1 a:hover {
    transform: scale(1.2);
}

.item1 .itemTitle {
    font-family: '微软雅黑';
    font-size: 18px;
    margin-bottom: 5px;
    color: black;
}

.item1 .mark {
    font-family: '楷体';
    font-size: 15px;
    color: #565656;
    width: 100%;
    word-break: break-all;
}

#ex_1, #ex_2, #ex_3 {
    display: none;
}

.list_tls .item1:hover, .list_sty .item1:hover {
    border: 2px solid dodgerblue;
}