.navbar-brand {
    width: 92px;
    height: 40px;
    background: url("../img/pics.png") no-repeat -21px -6px;
}

#ex_1, #ex_2, #ex_6 {
    display: none;
}

.btn-group a {
    color: white;
    text-decoration: none;
}

.author1 {
    display: block;
}

.author2 {
    display: none;
}

.title {
    color: black;
}

@media (min-width: 768px) {

    .author1 {
        display: none;
    }

    .author2 {
        display: block;
    }

    #list_kuang .btn-group {

    }
}

.form-inline {
    position: relative;;
}

.form-inline .tks {
    display: inline-block;
    color: goldenrod;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.form-inline .tks:hover .payimg {
    display: block;
}

.form-inline .payimg {
    width: 400px;
    height: 280px;
    position: absolute;
    left: -300px;
    top: 40px;
    float: left;
    z-index: 3;
    -moz-box-shadow: 0px 0px 19px #333333;
    -webkit-box-shadow: 0px 0px 19px #333333;
    box-shadow: 0px 0px 19px #333333;
    transition: 0.5s;
    display: none;
}

.payimg img {
    width: 50%;
    height: 100%;
    float: left;

}

.navbar .text-light {
    font-size: 14px;
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 310px;
    margin-bottom: 30px;
    border-radius: 0;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}