.navbar-brand {
    width: 92px;
    height: 40px;
    background: url("../img/pics.png") no-repeat -21px -6px;
}

#ex_1, #ex_2, #ex_6 {
    display: none;
}

.btn-group a {
    color: white;
    text-decoration: none;
}

.author1 {
    display: block;
}

.author2 {
    display: none;
}

.title {
    color: black;
}

@media (min-width: 768px) {

    .author1 {
        display: none;
    }

    .author2 {
        display: block;
    }

    #list_kuang .btn-group {

    }
}

